<app-header [msg]="msg"></app-header>
<br/>
<h1 id="header">Your Past Rides With Us...</h1>
<table class="table">
        <thead class="thead-light">
          <tr>
            <th>#</th>
            <th>Source</th>
            <th >Destination</th>
            <th >Fare</th>
          </tr>
        </thead>
        <tbody>
                
            
          <tr *ngFor="let r of ride;index as i">
            <th >{{i+1}}</th>
            <td>{{r.src}}</td>

            <td>{{r.dest}}</td>
            <td>{{r.fare}}</td>
          </tr>
        
        </tbody>
      </table>


    <!-- <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Larry</td>
                <td>the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table> -->