
                <button (click) = "Createnav()" type="submit" class="btn btn-primary"
                 >
                  Create User
                </button>  



          

       
                <button (click) = "Getnav()" type="submit" class="btn btn-primary"
                 >
                  Get User
                </button>  

        


                <button (click) = "Addroutes123()" type="submit" class="btn btn-primary"
             >
                  add route
                </button>  

                <button (click) = "ViewRidesRoutes123()" type="submit" class="btn btn-primary"
                >
                    view rides or routes
                   </button>  
