<app-header [msg]="msg"></app-header>

<div id="payment">
<div id="book">
  <form class="centered">
      
<h1> Payment </h1>
<table style="font-size: 1.100em;">
    
<tr>
	<td>	
		debitcard no
	</td>	
</tr>

<tr>
	<td>
	<input type="text" name="debit">
	</td>
</tr>
<tr>
<td>
    expiry
</td></tr>
<tr>
	<td>
	<input type="month" name="date">
	</td>
</tr>
        <tr>
	<td>
    	name on card
	</td>
</tr>
<tr>
	<td>
	<input type="text" name="name">
	</td>
</tr>
        <tr>
<td>
    cvv
</td></tr>
<tr>
	<td>
	<input type="password" name="cvv">
	</td>
	</tr>
		<tr>
    &nbsp;
    <td>
                            <input type="reset"  class="btn btn-danger">
	</td>
	</tr>
</table></form></div>
     
              <footer id="f" style="font-size:2em; height: 100px;width: 100%;background-color: grey;position:fixed; bottom:0;">
           
                    Book a City Taxi to your destination in town
                    Choose from a range of categories and prices
        </footer>
       
	</div>
	