<div id="logout">
    <div class="centered">
        
            <table>
                    <tr>
                        <td>
                                logout successfully
                        </td>
                    </tr>
                    <tr>
                            <td>
                                    <button class="btn btn-info" (click)="navigate()">login</button>
        
                            </td>
                        </tr>
                </table>
    </div>
</div>